@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    
    margin:0;
    padding:0;
    font-family: 'Poppins', 'Times New Roman', sans-serif;
}

body{

    background-color: #CDF0EA;   
}

.container{  
    position: absolute;
    top: 0;
    right:0;
    bottom:0; left:0;
}

.title-src{
    
    width: 500px;
    height: 100px;
}

#content-task{

    width: 500px;
    min-height: 500px;
    margin-top: 10px;
    background-color: #C490E4;
    box-shadow: 9px 7px #757375;
    padding: 20px;
    box-sizing: border-box;
}

.title-src, #content-task{

    margin: auto;
    text-align: center;
    color:#161853;
    border-radius: 40px;
}

.title-src{
    margin-top: 20px;
}

#clear-txt{

    width: 90px;
    height: 25px;
    text-align: center;
    padding: 7px;
    border-radius: 10px;;
    background-color: #F6C6EA;
    margin:auto;
    position:relative;
    top:20px;
    text-transform: uppercase;
    font-size: 15px;;
}

#clear-txt:hover{

    background-color:#ebb6de;
    cursor:pointer;
}

#input-txt{

    border:none;
    border-radius: 20px;
    padding:5px;
    width: 350px;
    outline: none;
    background-color: #F9F9F9;
    margin-top: 10px;
}

#send-txt{

    background: none;
    border: none;
}

#send-txt:hover{

    color:#C490E4;
    cursor: pointer;
}

li {

    list-style-type: none;
}

ion-icon {

    cursor: pointer;
    color:#F6C6EA;
    float: right;
}

@media only screen and (max-width: 550px){
    
    #content-task{
    
        width: 450px;
        min-height: 500px;
        margin: auto;
    }
}


@media only screen and (max-width: 500px){

    #content-task{
    
        width: 400px;
        min-height: 550px;
    }
}

@media only screen and (max-width: 470px){

    .title-src{

        margin-top: 50px;
        margin-bottom: 30px;
    }

    #content-task, #clear-txt{
    
        position: relative;
        left: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 445px){

    #content-task, #clear-txt{
    
        position: relative;
        left: 40px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 390px){

    #clear-txt{
    
        position: relative;
        left: 15%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 360px){

    #clear-txt{
    
        position: relative;
        left: 20%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 310px){

    #clear-txt{
    
        position: relative;
        left: 100px;
        margin-top: 20px;
    }
}
    
    
    
    
    
    





